<div class="h-16 sticky bg-base-100 top-0 z-30 flex w-full  justify-center bg-opacity-75 backdrop-blur">
    <nav class="navbar">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost lg:hidden">
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3 17h12a1 1 0 0 1 .117 1.993L15 19H3a1 1 0 0 1-.117-1.993L3 17h12H3Zm0-6h18a1 1 0 0 1 .117 1.993L21 13H3a1 1 0 0 1-.117-1.993L3 11h18H3Zm0-6h15a1 1 0 0 1 .117 1.993L18 7H3a1 1 0 0 1-.117-1.993L3 5h15H3Z"
                            class="fill-base-content" />
                    </svg>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="/" data-link>Home</a></li>
                    <li><a href="/rooms" data-link>Rooms</a></li>
                    <li><a href="/contact-us" data-link>Contact Us</a></li>
                </ul>
            </div>
            <a class="btn btn-ghost normal-case text-xl text-primary">Stay<span
                    class="text-base-content">Seek</span></a>
        </div>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal px-1 intro-animation-from-right">
                    <li><a href="/" data-link>Home</a></li>
                    <li><a href="/rooms" data-link>Rooms</a></li>
                    <li><a href="/contact-us" data-link>Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>